#canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10px;
}

.toolbox {
    text-align: center;
}

.tool {
    text-align: center;
    width: 50px;
    height: 32px;
    margin: 5px;
    font-size: small;
    color: steelblue;
    border: 2px solid steelblue;
    border-radius: 5px;
    background-color: whitesmoke;
    transition-duration: 0.3s;
}

.tool:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
}

.oneTime {
    width: 50px;
    height: 32px;
    margin: 5px;
    font-size: small;
    color: steelblue;
    border: 2px solid steelblue;
    border-radius: 5px;
    background-color: whitesmoke;
    transition-duration: 0.3s;
}

.oneTime:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
}

.oneTime:active {
    color: whitesmoke;
    background-color: steelblue;
    transition: 0.1s;
}
