body {
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    transition-duration: 0.3s;
}

#tools {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.toolbox {
    display: flex;
    text-align: center;
    height: 34px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24), 0 2px 10px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    margin-right: 6px;
    margin-bottom: 6px;
    transition-duration: 0.4s;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: small;
    color: steelblue;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    background-color: whitesmoke;
    transition-duration: 0.3s;
}

#Line {
    margin-left: 12px;
}

#Scale {
    margin-right: 12px;
}

#Reset {
    margin-left: 12px;
}

#Undo {
    padding-bottom: 5px;
    font-size: x-large;
    width: fit-content;
}

#Redo {
    padding-bottom: 5px;
    font-size: x-large;
    width: fit-content;
    margin-right: 12px;
}

.displayTools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: steelblue;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 6px;
    width: fit-content;
    height: 30px;
    font-size: small;
    transition-duration: 0.3s;
}

#showToolsBtn {
    display: none;

    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

#showToolsBtn:hover {
    transition-duration: 0.3s;
    width: fit-content;
    padding-right: 18px;
}

#showToolsBtn::after {
    content: "»";
    font-size: large;
    width: fit-content;
    position: absolute;
    padding-left: 30px;
    padding-bottom: 1px;
    opacity: 0;
    transition-duration: 0.3s;
}

#showToolsBtn:hover::after {
    content: "»";
    font-size: large;
    width: fit-content;
    position: absolute;
    padding-left: 34px;
    opacity: 1;
    transition-duration: 0.3s;
}

#hideToolsBtn {
    font-size: large;
    padding-left: 11px;
    padding-bottom: 4px;
    width: 34px;
    height: 34px;
    margin: auto;
    border-radius: 20px;
    border-width: 0px;
}

#hideToolBtn:active {
    color: steelblue;
    background-color: whitesmoke;
    transition: 0s;
}

#hideToolsBtn:hover {
    color: whitesmoke;
    background-color: steelblue;
}

.oneTime {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: small;
    color: steelblue;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    background-color: whitesmoke;
    transition-duration: 0.3s;
}

.oneTime:active {
    color: whitesmoke;
    background-color: steelblue;
    transition: 0.1s;
}
